<?xml version="1.0"?>
<config>
    <modules>
        <Narfstudios_WishlistExtend>
            <version>1.0.2</version>
        </Narfstudios_WishlistExtend>
    </modules>
    <frontend>
        <routers>
            <wishlistextend>
                <use>standard</use>
                <args>
                    <module>Narfstudios_WishlistExtend</module>
                    <frontName>wishlistextend</frontName>
                </args>
            </wishlistextend>
        </routers>
        <layout>
            <updates>
                <wishlistextend>
                    <file>wishlistextend.xml</file>
                </wishlistextend>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <wishlistextend>
                <class>Narfstudios_WishlistExtend_Model</class>
            </wishlistextend>
        </models>
        <blocks>
            <wishlistextend>
                <class>Narfstudios_WishlistExtend_Block</class>
            </wishlistextend>
        </blocks>
        <helpers>
            <wishlistextend>
                <class>Narfstudios_WishlistExtend_Helper</class>
            </wishlistextend>
              <checkout>
                  <rewrite>
                      <cart>Narfstudios_WishlistExtend_Helper_Data</cart>
                 </rewrite>
              </checkout>
              <wishlist>
              	<rewrite>
              		<data>Narfstudios_WishlistExtend_Helper_Wishlist</data>
              	</rewrite>
              </wishlist>
        </helpers>
        <resources>
        	<wishlistextend_setup>
				<setup>  
					<module>Narfstudios_WishlistExtend</module>  
				</setup>
        		<connection> 
 					<use>core_setup</use>  
				</connection>  
			</wishlistextend_setup>
			<wishlistextend_write>  
				<use>core_write</use>  
			</wishlistextend_write>  
			<wishlistextend_read>  
				<use>core_read</use> 
			</wishlistextend_read> 
        </resources>
        <events>
        	<!-- Magento < 1.6.0 -->
        	<controller_action_predispatch_wishlist_shared_cart>
                <observers>
                    <narfstudios_wishlistextend>
                        <type>singleton</type>
                        <class>Narfstudios_WishlistExtend_Model_Observer</class>
                        <method>addWishlistProductToSessionBackward</method>
                    </narfstudios_wishlistextend>
                </observers>        		
        	</controller_action_predispatch_wishlist_shared_cart>
        	<!-- Magento >= 1.6.0 -->
            <checkout_cart_add_product_complete>
                <observers>
                    <narfstudios_wishlistextend>
                        <type>singleton</type>
                        <class>Narfstudios_WishlistExtend_Model_Observer</class>
                        <method>addWishlistProductToSession</method>
                    </narfstudios_wishlistextend>
                </observers>
            </checkout_cart_add_product_complete>
            <controller_action_postdispatch_checkout_cart_add>
                <observers>
                    <narfstudios_wishlistextend>
                        <type>singleton</type>
                        <class>Narfstudios_WishlistExtend_Model_Observer</class>
                        <method>addWishlistProductToSessionOptions</method>
                    </narfstudios_wishlistextend>
                </observers>
            </controller_action_postdispatch_checkout_cart_add>  
            <checkout_onepage_controller_success_action>
                <observers>
                    <narfstudios_wishlistextend>
                        <type>singleton</type>
                        <class>Narfstudios_WishlistExtend_Model_Observer</class>
                        <method>removeProductFromWishlist</method>
                    </narfstudios_wishlistextend>
                </observers>
            </checkout_onepage_controller_success_action>     
        </events>
    </global>
</config>