<?xml version="1.0"?>
<config>
    <modules>
        <Narfstudios_WishlistExtend>
            <version>0.1.0</version>
        </Narfstudios_WishlistExtend>
    </modules>
    <frontend>
        <routers>
            <wishlistextend>
                <use>standard</use>
                <args>
                    <module>Narfstudios_WishlistExtend</module>
                    <frontName>wishlistextend</frontName>
                </args>
            </wishlistextend>
        </routers>
        <layout>
            <updates>
                <wishlistextend>
                    <file>wishlistextend.xml</file>
                </wishlistextend>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <wishlistextend>
                <class>Narfstudios_WishlistExtend_Model</class>
            </wishlistextend>
        </models>
        <blocks>
            <wishlistextend>
                <class>Narfstudios_WishlistExtend_Block</class>
            </wishlistextend>
        </blocks>
        <helpers>
            <wishlistextend>
                <class>Narfstudios_WishlistExtend_Helper</class>
            </wishlistextend>
              <checkout>
                  <rewrite>
                      <cart>Narfstudios_WishlistExtend_Helper_Data</cart>
                 </rewrite>
              </checkout>
        </helpers>
        <events>
            <controller_action_postdispatch_checkout_cart_add>
                <observers>
                    <narfstudios_wishlistextend>
                        <type>singleton</type>
                        <class>Narfstudios_WishlistExtend_Model_Observer</class>
                        <method>addWishlistProductToSession</method>
                    </narfstudios_wishlistextend>
                </observers>
            </controller_action_postdispatch_checkout_cart_add>  
            <checkout_onepage_controller_success_action>
                <observers>
                    <narfstudios_wishlistextend>
                        <type>singleton</type>
                        <class>Narfstudios_WishlistExtend_Model_Observer</class>
                        <method>removeProductFromWishlist</method>
                    </narfstudios_wishlistextend>
                </observers>
            </checkout_onepage_controller_success_action>     
        </events>
    </global>
</config>